/* ESTILOS Sobre */
section.sobre{
   padding: 40px 4%;
}

section.sobre .flex{
   align-items: center;
   gap: 60px;
}

.sobre .txt-sobre{
   color: white;
}

.sobre .txt-sobre h2{
   font-size: 40px;
   line-height: 40px;
   margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
   color: rgb(0, 174, 255);
   display: block;
}

.sobre .txt-sobre p{
   margin: 20px 0;
   text-align: justify;
}

.sobre .txt-sobre .btn-social button{
   width: 45px;
   height: 45px;
   border-radius: 50%;
   border: none;
   background-color: rgb(0, 174, 255);
   font-size: 20px;
   cursor: pointer;
   margin: 5px;
   transition: 0.2s;
}