/* ESTILOS DAS ESPECIALIDADES */

section.especialidades{
   padding: 40px 4%;
}

section.especialidades .flex{
   gap: 60px;
}

.especialidades .especialidades-box{

   color: white;
   padding: 40px;
   border-radius: 20px;
   margin-top: 45px;
   transition: 0.2s;

}

.especialidades .especialidades-box:hover{

   transform: scale(1.15);
   box-shadow:  0 0 20px rgba(255, 255, 255, 0.514);

}

.especialidades .especialidades-box i{
   font-size: 70px;
   color: rgb(0, 174, 255);
}

.especialidades .especialidades-box h3{
   font-size: 28px;
   margin: 15px 0;
}